
<%= dgettext("emails", "Hi %{email},", email: @user.email) %>

<%= dgettext("emails", "You can change your email by visiting the URL below:") %>

<%= @url %>

<%= dgettext("emails",
  "If you didn't request this change from %{url}, please ignore this.",
  url: Routes.live_url(Endpoint, HomeLive)) %>
