<div class="flex flex-col justify-center items-center text-center space-y-4">
  <h1 class="title text-primary-500 text-2xl">
    <%= gettext("Welcome to Lokal") %>
  </h1>

  <p class="title  text-primary-500 text-lg">
    <%= gettext("Shop from your community") %>
  </p>
</div>
