<div
  id={"show-context-content-#{@context.id}"}
  class="input input-primary h-128 min-h-128 inline-block whitespace-pre-wrap overflow-x-hidden overflow-y-auto resize-y"
  phx-update="ignore"
  readonly
  phx-no-format
><p class="inline"><%= display_links(@context) %></p></div>
