<time :if={@datetime} id={@id} datetime={cast_datetime(@datetime)} x-data={~s/{
    datetime:
      Intl.DateTimeFormat([], {dateStyle: 'short', timeStyle: 'long'})
        .format(new Date("#{cast_datetime(@datetime)}"))
  }/} x-text="datetime">
  <%= cast_datetime(@datetime) %>
</time>
