<div
  id={"show-step-content-#{@step.id}"}
  class="input input-primary h-32 min-h-32 inline-block whitespace-pre-wrap overflow-x-hidden overflow-y-auto"
  phx-update="ignore"
  readonly
  phx-no-format
><p class="inline"><%= add_links_to_content(@step.content, "step-context") %></p></div>
