<%= @email.subject %>

====================

<%= @inner_content %>

=====================

<%= dgettext("emails",
  "This email was sent from %{name} at %{url}, the self-hosted firearm tracker website.",
  name: "Lokal",
  url: Routes.live_url(Endpoint, PageLive)) %>
