<html>
  <head>
    <title>
      <%= @email.subject %>
    </title>
  </head>
  <body style="padding: 2em; color: rgb(31, 31, 31); background-color: rgb(220, 220, 228); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center;">
    <%= @inner_content %>

    <hr style="margin: 2em auto; border-width: 1px; border-color: rgb(212, 212, 216); width: 100%; max-width: 42rem;" />

    <a style="color: rgb(31, 31, 31);" href={Routes.live_url(Endpoint, HomeLive)}>
      <%= dgettext(
        "emails",
        "This email was sent from Lokal, the self-hosted firearm tracker website."
      ) %>
    </a>
  </body>
</html>
