<%= @email.subject %>

====================

<%= @inner_content %>

=====================

<%= dgettext("emails",
  "This email was sent from Lokal at %{url}, the self-hosted firearm tracker website.",
  url: Routes.live_url(Endpoint, HomeLive)) %>
