
<%= dgettext("emails", "Hi %{email},", email: @user.email) %>

<%= dgettext("emails", "You can reset your password by visiting the URL below:") %>

<%= @url %>

<%= dgettext("emails",
  "If you didn't request this change from %{url}, please ignore this.",
  url: ~p"/") %>
