
<%= dgettext("emails", "Hi %{email},", email: @user.email) %>

<%= dgettext("emails", "Welcome to memEx") %>

<%= dgettext("emails", "You can confirm your account by visiting the URL below:") %>

<%= @url %>

<%= dgettext("emails",
  "If you didn't create an account at %{url}, please ignore this.",
  url: Routes.live_url(Endpoint, HomeLive)) %>
